{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-3 text-center">Proyecto Las Abras</h1>
        <p>Avanza la Iniciativa para el Proyecto Bi-Provincial Tungurahua – Chimborazo.
           
        En reunión del Consejo Provincial el viernes 23 de febrero, se dio un paso importante hacia el desarrollo regional con la aprobación del acuerdo entre los Gobiernos Provinciales de Tungurahua y Chimborazo. Este acuerdo, valorado en $80.000 dólares más IVA, busca llevar a cabo los estudios de Prefactibilidad para el Proyecto Bi-provincial Represa Las Abras de Chimborazo y Tungurahua.
                    
        Ambas provincias se unen en este esfuerzo, con Chimborazo aportando el 60% y Tungurahua el 40%. Este proyecto conjunto pretende proporcionar agua de riego a las comunidades beneficiarias de las acequias Mocha-Quero-Ladrillos y Mocha-Quero-Pelileo en la provincia de Tungurahua.
                    
        El proyecto beneficiará a diversas comunidades, con una atención especial a las necesidades de la Junta de Riego Acequia Las Abras y otras áreas circundantes. Los Prefectos de Tungurahua, Manuel Caizabanda, y de Chimborazo, Hermel Tayupanda, están comprometidos en trabajar juntos para fortalecer la productividad y mejorar la vida de las personas en sus respectivas provincias.
                    
        Este proyecto representa un avance significativo en la búsqueda de soluciones sostenibles para el desarrollo agrícola y el bienestar de las comunidades.
                    
        Es un testimonio del compromiso de los gobiernos provinciales con el progreso y la colaboración en beneficio de todos.   
        </p>
        <div class="text-center">
            <a class="btn btn-primary" href="/signin/">Login</a>
            <a class="btn btn-primary" href="/signup/">Logup</a>
        </div>
    </section>
</main>


{% endblock %}

